<div class="tab">
  <button class="tablinks" (click)="openCity(event, 'Soalan-1')">Soalan 1</button>
  <button class="tablinks" (click)="openCity(event, 'Soalan-2')">Soalan 2</button>
  <button class="tablinks" (click)="openCity(event, 'Soalan-3')">Soalan 3</button>
  <button class="tablinks" (click)="openCity(event, 'Soalan-4A')">Soalan 4A</button>
  <button class="tablinks" (click)="openCity(event, 'Soalan-4B')">Soalan 4B</button>
</div>
<form>
<div id="Soalan-1" class="tabcontent">
  <h3>Soalan 1</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
      <label for="noSiri">Nombor Siri</label>
      <input id="noSiri" class="form-control" required minlength="12" maxlength="12" ngModel name="Establishment No" #noSiri="ngModel" type="text">
      </div>
    <div class="alert alert-danger" *ngIf="noSiri.touched && !noSiri.valid">
        <div *ngIf="noSiri.errors.minlength">
          {{ noSiri.name }} must be 12.
        </div>
        <div *ngIf="noSiri.errors.required">
          {{ noSiri.name }} is required.
        </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="f010002">Kegunaan Pejabat</label>
        <input id="f010002" class="form-control" required ngModel name="Kegunaan Pejabat" #f010002="ngModel" type="text">
      </div>
    <div class="alert alert-danger" *ngIf="f010002.touched && !f010002.valid">
        <div *ngIf="f010002.errors.required">
          {{ f010002.name }} is required.
        </div>
    </div>
    </div>
    <div class="col-md-6" style="padding-top: 40px;">F010002</div>
  </div>
      
    
    
  <!--Username: <input required minlength="3" ngModel name="username1" #username1="ngModel" type="text">
  <div *ngIf="username1.touched && !username1.valid">
    <div *ngIf="username1.errors.minlength">Must be more than 3</div>
    <div *ngIf="username1.errors.required">{{ username1.name }} is required.</div>
  </div>-->
</div>

<div id="Soalan-2" class="tabcontent">
  <h3>Soalan 2</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Soalan-3" class="tabcontent">
  <h3>Soalan 3</h3>
  Username: <input id="userName2" type="text">
</div>

<div id="Soalan-4A" class="tabcontent">
  <h3>Soalan 4A</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Soalan-4B" class="tabcontent">
  <h3>Soalan 4B</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
</form>
