<h1>Dashboard</h1>
<select>
  <option value="KP411 - ICTEC">KP411 - ICTEC</option>
  <option value="KP101 -  Tanaman">KP101 -  Tanaman</option>
  <option value="KP102">KP102</option>
  <option value="KP103">KP103</option>
  <option value="KP205 - Pembuatan">KP205 - Pembuatan</option>
  <option value="KP308 - Hartanah">KP308 - Hartanah</option>
  <option value="KP331 - Profesional">KP331 - Profesional</option>
</select>
<div>
  <img style="height:auto;width: 70%;" src="assets/graph.jpg" alt="image">
</div>
