form {
    border: solid 1px lightgrey;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
}

.input {
    display: block;
}

.container {
    text-align: center;
}

