<div class="container">
  <h1>Annual Economic Survey (AES) System</h1>
  <form>
    <div class="input">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="Enter Username">
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Enter Password">
    </div>
    <div class="input">
      <button (click)="goToDashboard()" type="button">Submit</button>
      <button type="reset">Clear</button>
    </div>
  </form>
</div>
