<nav>
  <ul>
    <!--<li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>-->
    <li>
      <a routerLink="dashboards" [class.activated]="currentUrl == '/dashboards'">
        Dashboard <i class="material-icons">dashboard</i>
      </a>
    </li>
    <li>
      <a routerLink="survey-forms" [class.activated]="currentUrl == '/survey-forms'">
        Borang <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a routerLink="edit-specs" [class.activated]="currentUrl == '/edit-specs'">
        Edit Spek<i class="material-icons">assignment_late</i>
      </a>
    </li>
    <li>
      <a routerLink="reports" [class.activated]="currentUrl == '/reports'">
        Laporan<i class="material-icons">assignment_turned_in</i>
      </a>
    </li>
  </ul>
</nav>