nav {
    background: #33C7FF;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #000;
                padding: 20px;
                display: block;
                text-decoration: none;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
    
}